body {
  margin: 0;
	padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/********************************
Camera
********************************/
.camera-component {
  width: 100%;
  height: 100%;
  background-color: black;

  position:absolute;   
  left:0; right:0;
  top:0; bottom:0;
  margin:auto;

  max-width:100%;
  max-height:100%;
  overflow:auto;

  z-index: 95;
}


/********************************
Shutterstock button
********************************/
.btn-holder {
  z-index: 100;
	position: absolute;
	top: 85%;
	left: 50%;
	transform: translate(-50% , -50%);
}

/* Shutter button css */
.simple-btn {
  z-index: 100;
  background-color: Transparent;
  background-repeat:no-repeat;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 2em;
	display: inline-block;
	position: relative;
  transition: all .4s ease;
  border-radius: 50%;
	border: 1px solid white;
	text-align: center;
	line-height: 60px;
	width: 70px;
	height: 70px;
	color: white;
	z-index: 1;
  overflow: hidden;
}

/* Shutter button animation */
.simple-btn:after {
  content: "";
  background: rgb(255, 255, 255);
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}
.simple-btn:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}